<h2>Thanks for your submission {{submitor}}</h2>

<p>Thanks for your submision of <b>{{submissionName}}</b> to Long Live The New Sound.
We will review your submission to make sure it doesn't contain sill things
like hate speach and then publish it to the feed</p>

<p>Look out for a seccond email confirmint that <b>{{submissionName}}</b> has been
accepted and thanks again for submiting your work. We also encourage you
to submit more work to the proeject!</p>

<p>Thanks again and Long Live The New Sound!</p>

<a href='www.longlivethenewsound'>www.longlivethenewsound.com</a> <br/>
<span><b>An anti-podcast podcast</b></span><br />
<a href='https://itunes.apple.com/us/podcast/long-live-the-new-sound/id1393853495?mt=2'>ITunes</a> |
<a href='https://feed.longlivethenewsound.com/rss.xml'>RSS</a> |
<a href='https://pca.st/sn8i'>PocketCasts</a>

