<h2>Thanks for sending us new sounds! </h2>

<p>Your submission  <b>{{submissionName}}</b> to Long Live the New Sound has been received.
We will review <b>{{submissionName}}</b> to make sure it meets our guidelines and then publish to the feed.
Look out for a second email from us once your work is live. Feel free to <a href='https://www.longlivethenewsound.com/'>submit more work</a> to the project anytime.</p>

<p>Thanks again for your contribution and Long Live the New Sound!</p>

<a href='www.longlivethenewsound'>www.longlivethenewsound.com</a> <br/>
<span><b>A freeform anti-podcast podcast</b></span><br />
<span>find us wherever you get your podcasts</span><br />

<a href='https://itunes.apple.com/us/podcast/long-live-the-new-sound/id1393853495?mt=2'>ITunes</a> |
<a href='https://feed.longlivethenewsound.com/rss.xml'>RSS</a> |
<a href='https://pca.st/sn8i'>PocketCasts</a> |
<a href='https://twitter.com/@The_Newsoun'>@The_Newsound</a>

